<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maklumat Guru</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <form action="{{ url_for('index') }}">
        <button type="button" onclick="history.back()">Back</button>
    </form>
</div>
<div class="container mt-3">
  <h2 class="text-left">Maklumat Guru</h2>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombor Kad Pengenalan</th>
        <th>Nama Guru</th>
        <th>Email</th>
        <th>Alamat Kediaman Guru</th>
        <th>Poskod</th>
        <th>Bandar</th>
        <th>Daerah</th>
        <th>Nama Sekolah Berkhidmat</th>
        <th>Alamat (Sekolah)</th>
        <th>Poskod (Sekolah)</th>
        <th>Bandar (Sekolah)</th>
        <th>Email (Sekolah)</th>
      </tr>
    </thead>
    <tbody>
      {% for row in data_guru.itertuples() %}
      <tr>
        <td>{{ loop.index if loop else index }}</td>
        <td>{{ row.nom_kp }}</td>
        <td>{{ row.firstname }} {{ row.lastname }}</td>
        <td>{{ row.email }}</td>
        <td>{{ row.alamat_rumah }}</td>
        <td>{{ row.poskod }}</td>
        <td>{{ row.bandar }}</td>
        <td>{{ row.daerah }}</td>
        <td>{{ row.nama_sekolah }}</td>
        <td>{{ row.alamat_sekolah }}</td>
        <td>{{ row.poskod_sekolah }}</td>
        <td>{{ row.bandar_sekolah }}</td>
        <td>{{ row.email_sekolah }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="container mt-4">
    <form action="{{ url_for('index') }}">
        <button type="button" onclick="history.back()">Back</button>
    </form>
</div>
</body>
</html>